{% extends 'main/base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="row justify-content-center col-12 my-4">
<h1>{% trans "Sign Out" %}</h1>
</div>
<div class="row justify-content-center ">
<p>{% trans 'Are you sure you want to sign out?' %}</p>
</div>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="row justify-content-center my-5" >
  <button class="btn btn-secondary" type="submit">{% trans 'Sign Out' %}</button>
</div>
</form>


{% endblock %}
