{% extends 'main/base.html' %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-5 mb-5">
                <div class="card-body p-4">
                    <h5 class="text-center"> <strong> Order Summary </strong> </h5>
                   <hr class="">
                    <div class="row pb-5 p-5">
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4">{{ request.user }}</p>
                            <p class="mb-1">XXX XXXXXX XXXXX XX XXXXX</p>
                            <p>Acme Inc</p>
                            <p class="mb-1">Berlin, Germany</p>
                            <p class="mb-1">6781 45P</p>
                        </div>

                    </div>

                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Description</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Price/Unit</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_item in object.item.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ order_item.item.name }}</td>
                                        <td>{{ order_item.item.description }}</td>
                                        <td>
                                        <a class="" href="{% url 'main:remove-single-item-from-cart' order_item.item.slug %}">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                        <button type="button" class="btn btn-outline-primary px-3 ml-2">
                                                {{ order_item.quantity }}       
                                        </button> 
                                            <a href="{% url 'main:add-to-cart' order_item.item.slug %}">
                                                <i class="fas fa-plus ml-2"></i>
                                            </a>
                                        </td>
                                        <td>₹ {{ order_item.item.price}}</td>
                                        {% if object_item.item.discount %}
                                        <td>₹ {{ order_item.get_total_discount_amount }} </td>
                                        {% else %}
                                        <td>₹ {{ order_item.get_total_amount }}</td>
                                        {% endif %}
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center p-5"><h2>Your cart is empty.</h2>
                                        <a href="{% url 'main:home'%}" class="btn btn-outline-primary waves-effect ">Continue Shopping</a>
                                    </td>
                                    </td>
                                    {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% if object.get_sub_total %}
                    <div class="d-flex flex-row-reverse text-dark p-4" style="background-color:#ffffe6">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Grand Total</div>
                            <div class="h4 font-weight-light">₹ {{ object.get_grand_total }} </div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Saved</div>
                            <div class="h4 font-weight-light">₹ {{ object.get_saved_total }} </div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Sub - Total amount</div>
                            <div class="h4 font-weight-light"><td>₹ {{ object.get_sub_total }} </td></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center">
             <a href="{% url 'main:home'%}" class="btn btn-outline-primary waves-effect p-2 mt-3 mb-5 col-3 ">Continue Shopping</a>
            <a href="/checkout/" class="btn btn-outline-info waves-effect p-2 mt-3 mb-5 ml-3 col-3">Proceed to Checkout</a>
            {% else %}
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}

